	<div class="bootstrap">
		<p>
			The intention of this sample app, is to compare the performance of different blob storage services such as <a href="https://www.windowsazure.com/en-us/home/tour/storage/" title="Windows Azure Storage">Windows Azure Storage</a> and <a href="http://aws.amazon.com/s3/" title="Amazon S3">Amazon S3</a> running on different PaaS like <a href="https://www.windowsazure.com/en-us/home/tour/compute/" title="Windows Azure Hosted Services">Windows Azure Hosted Services</a> and <a href="http://www.heroku.com/" title="Heroku">Heroku</a>.
		</p>

		<div>
			<h2>Status</h2>
			Bits for read test downloaded? [ <%=(app.configuration.readBlobDownloaded) ? "√" : "X" %> ],
			Heroku deployment status? [√], 
			Azure deployment status: [√] 
		</div>
	
		
		<div style="text-align:center">
			<button class="test">Test Page</button>
			<button class="configuration">Configuration</button>
		</div>
	</div>
<script>
	$(document).ready( function () {
		$('button.test').click(function() {
			location.href = '/test';
		});

		$('button.configuration').click(function() {
			location.href = '/config';
		});
	});
</script>

</body>
</html>
